In [1]:
list=[23,45,86,97,2,5,39,58,25,57,45,68,78]

In [2]:
import numpy as np

In [3]:
mean=np.mean(list)

In [4]:
mean

48.30769230769231

In [5]:
var=np.var(list)

In [6]:
var

810.9822485207102

In [7]:
std=np.std(list)

In [8]:
std

28.477750060717756

In [9]:
import pandas as pd

In [10]:
data=[[10,12,13],[14,15,16],[18,19,20],[45,98,65]]

In [11]:
df=pd.DataFrame(data)

In [12]:
data

[[10, 12, 13], [14, 15, 16], [18, 19, 20], [45, 98, 65]]

In [13]:
df

    0   1   2
0  10  12  13
1  14  15  16
2  18  19  20
3  45  98  65

In [14]:
df.var()

0     250.916667
1    1716.666667
2     600.333333
dtype: float64

In [15]:
df.std()

0    15.840349
1    41.432676
2    24.501701
dtype: float64

In [16]:
df.var(axis=1)

0      2.333333
1      1.000000
2      1.000000
3    716.333333
dtype: float64